@import url(./general.css);

body {
  background: linear-gradient(to top right, #1e242e, #ae2d3c);
  height: 100vh;
  overflow: hidden;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 20px;
  padding: 3em;
  min-height: 400px;
  min-width: 300px;
  font-size: 2rem;
  box-shadow: -15px 15px black;
}

.form h2 {
  margin: 10px 0px 20px 0px;
  text-align: center;
}

.form label,
input,
p {
  font-size: 1.2rem;
}

.form input[type="button"] {
  border: none;
  background-color: black;
  color: white;
  display: block;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 0;
  border-radius: 17px;
  padding: 0.45rem 2.5rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.form input[type="submit"] {
  border: none;
  background-color: black;
  color: white;
  display: block;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 0;
  border-radius: 17px;
  padding: 0.45rem 2.5rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.invalido {
background-color: #f36979;
padding: 20px 40px;
min-width: 420px;
position: absolute;
right: 0px;
top: 10px;
overflow: hidden;
border-radius: 4px;
border-left: 8px solid rgb(182, 46, 46);
}

.valido {
  background-color: #96ff9b;
  padding: 20px 40px;
  min-width: 420px;
  position: absolute;
  right: 0px;
  top: 10px;
  overflow: hidden;
  border-radius: 4px;
  border-left: 8px solid rgb(39, 167, 88);
}

#notificaciones.show {
  animation: show_slide 0.5s ease forwards;
}

@keyframes show_slide {
  0% {
    transform: translateX(40%);
  }
  50% {
    transform: translateX(25%);
  }
  100% {
    transform: translateX(30%);
  }
}